spring:
    application:
        name: rada
    liquibase:
        change-log: classpath:db/changelog/db.changelog-master.xml
    datasource:
        url: jdbc:postgresql://localhost:5432/rada
        username: rada_user
        password: secret
        driver-class-name: org.postgresql.Driver
    jpa:
        hibernate:
            ddl-auto: validate
        show-sql: true
        properties:
            hibernate:
                format_sql: true
    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: http://localhost:8180/realms/springboot
                    jwk-set-uri: http://localhost:8180/realms/springboot/protocol/openid-connect/certs
server:
    port: 8080
springdoc:
    api-docs:
        path: /api-docs
    swagger-ui:
        path: /swagger-ui.html
        enabled: true
        operations-sorter: alpha
        tags-sorter: alpha
        oauth:
            client-id: swagger
            use-pkce-with-authorization-code-grant: true
logging:
    level:
        org.springframework: INFO
        org.springframework.security: DEBUG
        org.springframework.security.oauth2: DEBUG
        pl.factorymethod.rada: DEBUG
keycloak:
    userinfo-uri: http://192.168.0.212:8180/realms/springboot/protocol/openid-connect/userinfo

management:
    endpoints:
        web:
            exposure:
                include: "*"
    endpoint:
        health:
            show-details: always

rada:
    admin-token: dev-admin-token
    encryption:
        dek-size-bytes: 32
